
@media screen and (min-width: 1340px){
    #contact_main{
        width: 100%;
        background-color: #1d4d35;
    }
    #contact{
        width: 1340px;
        height: 500px;
        background-color: #1d4d35;
        margin: 0 auto;
        position: relative;
    }


    #name, #email, #send{
        position: relative;
        left: 308px;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 130px; height: 42px;
        font-size: 18px;
        box-sizing: border-box;
        padding-left: 20px;
        text-align: left;
        display: inline-block;
        border: 2px solid #fff;
        background: transparent;
        border-radius: 0;
        color: #fff;
    }
    #name::placeholder, #email::placeholder, #send::placeholder{
        color: #fff;
    }


    #message{
        margin-left: 308px;
        margin-bottom: 10px;
        display: block;
        width: 625px;
        height: 290px;
        font-size: 18px;
        box-sizing: border-box;
        padding: 20px;
        text-align: left;
        border: 2px solid #fff;
        background: transparent;
        border-radius: 0;
        color:#fff;
        
    }
    #message::placeholder{
        color: #fff;
    }

    #contact > h2{
        font-size: 24px;
        font-weight: 800;
        margin-left: 20px;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #ct_menu{
        position: absolute;
        margin-top: 50px;
        left:950px;
    }    
    #ct_menu > li {
        font-size: 20px;
        color: #fff;
        font-weight: 800;
    }
    #ct_menu > li:nth-of-type(2){
        margin-bottom: 20px;
    }
    #ct_menu > li:nth-of-type(4){
        margin-bottom: 20px;
    }
    .contact_inner_mb{
        display: none;
    }
    
}

@media screen and ( max-width: 1339px) {
    #contact{display: none;}
}

@media screen and ( max-width: 767px) {
    #contact{display: none;}
}

