/* [S]승차권 & 뉴스 */

@media screen and ( min-width: 1340px){
    #korail_menu{
        width: 1340px;
        margin: 0 auto; 
        margin-bottom: 60px;
    }
    #korail_menu > ul {display: flex;}
    #letskorail > img {
        width: 714px; width: 284px;
    }
    #news > img {
        width: 626px; width: 284px;
    }
}

@media screen and ( max-width: 1339px){
    #korail_menu{
        width: 100%;
        margin: 0 auto;
        margin-top: -92px;
    }
    #korail_menu > ul {display: flex;}
    #korail_menu > ul > li > a > img {
        width: 100%; height: auto;
    }
}

@media screen and ( max-width: 767px){
    #korail_menu{
        width: 100%;
        margin: 0 auto;
        margin-top: -92px;
    }
    #korail_menu > ul {display: block;}
    #korail_menu > ul > li > a > img {
        width: 100%; height: auto;
    }
}


/* [E]승차권 & 뉴스 */



/* title */

@media screen and ( min-width: 1340px){
    #notice_title{ 
        width:1340px;
        height: 100%;
        margin:0 auto;
        border-top: 2px solid #ccc;
    }

    #notice_title > h2{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #container_notice{
        width:1340px;
        height: 100%;
        margin:0 auto;
    }
    #notice_mb{display: none;}
}

@media screen and ( max-width: 1339px){
    #container_notice{
        height: 100%;
        margin:0 auto;  
    }
    #notice_title > h2{
        width: 100%;
        margin: 30px auto;
    }
    #notice_pc{display: none;}
}

@media screen and ( max-width: 767px){
    #container_notice{
        height: 100%;
        margin:0 auto;  
    }
    #notice_title > h2{
        width:100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
}

/* //title */




/* menu */

@media screen and ( min-width: 1340px){

    .menu_list > ul { 
        display:flex;
        justify-content: space-around;
        margin-bottom: 37px;
    }
    #menu > a{
        text-decoration: none;
        width: 310px; height: 336px;
        background-color: #f1f1f1;
    }
    #menu > a > ul > article{
        width: 310px; height: 74px;
        background-color: #dedede;
        text-align: center;  
    }
    #menu > a > ul > article > li{
        padding-top: 20px;
        font-size: 18px;
        font-weight: 900;
        
    }
    #menu > a > ul > article > span{
        padding-top: 5px;
        color: #11428f;
        font-size: 16px;
        font-weight: 900;
    }
    #menu > a > ul > p {
        font-size: 16px;
        font-weight:100;
        line-height: 30px;
        padding: 22px;
    }
    #notice_img{
        width: 266px; height: 218px;
        background: url(../images/notice_01.png) 
        no-repeat center;
    }
}

@media screen and ( max-width: 1339px){
    #container_notice{width: 100%;}
    .menu_list > ul { 
        display:flex;
        justify-content: space-around;
        margin-bottom: 37px;
    }
    #menu > a{
        text-decoration: none;
        min-width: 174px; height: 189px;
        max-width: 500px;
        background-color: #f1f1f1;
    }
    #menu > a > ul > article{
        min-width: 174px; height: 41px;
        max-width: 500px;
        background-color: #dedede;
        text-align: center;  
    }
    #menu > a > ul > article > li{
        padding-top: 7px;
        font-size: 14px;
        font-weight: 900;
        
    }
    #menu > a > ul > article > span{
        padding-top: 5px;
        color: #11428f;
        font-size: 12px;
        font-weight: 900;
    }
    #menu > a > ul > p {
        font-size: 11px;
        font-weight:100;
        line-height: 20px;
        padding: 10px;
    }
    #notice_img{
        width: 150px; height: 123px;
        background: url(../images/notice_02.png) 
        no-repeat center ;
    }
    .menu_list > ul >li {
        margin-right: 5px;
        margin-left: 5px
    }
}

@media screen and ( max-width: 767px){
    #container_notice{width: 100%;}
    .menu_list > ul { 
        display:flex;
        justify-content: space-around;
        margin-bottom: 37px;
        flex-wrap: wrap;
    }
    #menu > a{
        text-decoration: none;
        min-width: 174px; height: 150px;   
        max-width: 600px;
        background-color: #f1f1f1;
    }
    #menu > a > ul > article{
        min-width: 174px; height: 41px;
        max-width: 600px;
        background-color: #dedede;
        text-align: center;  
    }
    #menu > a > ul > article > li{
        flex-wrap: wrap;
        padding-top: 7px;
        font-size: 13px;
        font-weight: 900;
        
    }
    #menu > a > ul > article > span{
        padding-top: 5px;
        color: #11428f;
        font-size: 11px;
        font-weight: 900;
    }
    #menu > a > ul > p {
        font-size: 11px;
        font-weight:100;
        line-height: 20px;
        padding: 10px;
    }
    #notice_img{
        width: 150px; height: 123px;
        background: url(../images/notice_02.png) 
        no-repeat center ;
    }
    .menu_list > ul >li {
        margin-right: 10px;
        margin-left: 10px
    }
}

/* //menu */



/* service */

@media screen and ( min-width: 1340px){
    #service{
        width:1340px;
        margin: 0 auto;
    }
    .service_menu_title_mb{ display: none;}
}

@media screen and ( max-width: 1339px){
    #service{
        width:100%;   
    }
    
}
@media screen and ( min-width: 768px){
    .service_menu_title_mb{ display: none;}
}


    .service_menu {
        display: flex;
        flex-wrap: wrap;
    }
        .service_menu > li{
            margin-bottom: 6px;
            flex-basis: 20%;
            box-sizing: border-box;
            padding: 0 3px;
        }

        .service_menu > li:last-child{
            margin-bottom: 50px;
        }
        
        @media screen and ( max-width: 767px) {
        .service_menu_title_pc{ display: none;}
        .service_menu > li:first-child{flex-basis: 100%;}
        .service_menu > li{flex-basis: 33.33%;}
        }
            .service_menu > li > a,
            .service_menu > li > a > img{
                width: 100%;
            }